h3
  text-align: center
// ::::::::::::::::::::::::::::::::::
.carousel
  margin-top: 30px
  position: relative
  // :::::::::::::::::::::::::::::::
  .carousel-inner
    height: 400px
    // :::::::::::::::::::::::::::::
    .carousel-item
      display: block
      border-radius: 6px
      border: 3px solid #333
      height: 400px;
      text-align: center
      overflow: hidden
      // ::::::::::::::::::::::::::
      img
        width: 100%
        height: auto
      // ::::::::::::::::::::::::::
      .carousel-caption
        background-color: rgba(255, 255, 255, .8)
        width: 99%
        position: absolute
        bottom: 0px
    // :::::::::::::::::::::::::::: 
    .active
      display: block
      
  .carousel-control
    .prev, .next
      position: absolute
      bottom: 30px
      font-size: 25px
      list-style: none
      width: 33px
      height: 33px
      text-align: center
      padding: 3px
      padding-bottom: 5px
      border-radius: 50%
      border: 3px solid #333
      &:hover
        cursor: pointer
    .next
      right: 35px